.sku-list-item { height: 180px; }
.sku-list-image {  
    height: 180px;
    width: 180px;
    float: left;
}
.sku-list-info {
    height: 180px;
    float: left;
    margin-left: 182px;
    margin-top: -180px;
    padding: 30px 10px;
    color: #666666;
    font-size: 14px;
}
.sku-list-title {
    line-height: 24px;
}