<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.liuzhibin.research.mycat.dao.MemberDao">
    <resultMap id="member" type="org.liuzhibin.research.mycat.domain.Member">
        <result property="memberId" column="member_id" />
        <result property="account" column="account" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
        <result property="mobile" column="mobile" />
        <result property="email" column="email" />
        <result property="createdAt" column="created_at" />
        <result property="lastUpdate" column="last_update" />
    </resultMap>
    
    <resultMap id="memberAccount" type="org.liuzhibin.research.mycat.domain.MemberAccount">
        <result property="memberId" column="member_id" />
        <result property="account" column="account" />
        <result property="accountHash" column="account_hash" />
    </resultMap>
</mapper>