<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.liuzhibin.research.mycat.dao.OrderDetailDao">
    <resultMap id="orderDetail" type="org.liuzhibin.research.mycat.domain.OrderDetail">
        <result property="detailId" column="detail_id" />
        <result property="orderId" column="order_id" />
        <result property="productId" column="product_id" />
        <result property="quantity" column="quantity" />
        <result property="price" column="price" />
        <result property="subtotal" column="subtotal" />
        <result property="discount" column="discount" />
        <result property="createdAt" column="created_at" />
        <result property="lastUpdate" column="last_update" />
    </resultMap>
</mapper>